name: Statistics

on:
  schedule:
    - cron: "0 12 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout this repository
        uses: actions/checkout@v4

      - name: Checkout the other repository
        uses: actions/checkout@v4
        with:
          repository: BoBoBaSs84/github-stats
          token: ${{ secrets.REPOSITORIES_TOKEN }}
          path: private-repo

      - name: Copy those files
        run: |
          cp private-repo/generated/*.svg ./images/
